body {
    margin: 0 auto;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    letter-spacing: 0.25vw;
    color: #444;
}

header {
    text-align: center;
}

/*縦長、スマホ対応*/
@media only screen and (max-width: 480px) {
    .pcnaga {
        display: none;
    }

    .yokonaga {
        display: none;
    }
    
    .toplogo {
        width: 20vw;
        margin: 2.5vw 0;
    }
    
    p {
        font-size: 2.25vw;
        margin: 2.5vw 7.5vw;
    }
    
    h2 {
        font-size: 16px;
        text-align: center;
    }
    
    h1 {
        text-align: center;
        font-size: 6vw;
    }
    
    .archives_flyer {
        border-bottom: 0.5vw dotted var(--blue01-color);
        text-align: center;
        margin: 20px;
        padding-bottom: 20px;
    }

    .flyer {
        width: 60vw;
    }
    
    a {
        color: var(--blue01-color);
        text-decoration: none;
    }

    .squarephoto {
        width: 60vw;
        margin: 2.5vw;
    }
    
    .square2 {
        text-align: center;
    }
    
    /*メニュー*/
    
    .menu-btn {
        position: fixed;
        top: 16px;
        right: 12px;
        display: flex;
        height: 32px;
        width: 32px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: var(--blue01-color);
        filter: blur(0.1vw);
    }
    
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content:" ";
        display: block;
        height: 0.4vw;
        width: 16px;
        background-color: #ffffff;
        position: absolute;
        transition: all 0.5s;
    }
    
    .menu-btn span:before {
        bottom: 1.5vw;
    }
    
    .menu-btn span:after {
        top: 1.5vw;
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    /*中身自体*/
    .menu-content {
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: var(--blue01-color);
        transition: all 1s;
    }
    
    .menu-content ul {
        height: 80%;
        overflow: auto;
        padding: 10vw 20px 0;
    }
    .menu-content ul li {
        border-bottom: solid 0.25vw #fff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        font-size: 16px;
        box-sizing: border-box;
        color:#fff;
        text-decoration: none;
        padding: 1vw;
        letter-spacing: 0.5vw;
        margin: 0 10vw;
    }
    .menu-content ul li a::before {
        content: "";
        width: 30vw;
        height: 16px;
        transform: rotate(45deg);
        position: absolute;
        top: 7vw;
    }
    
    #menu-btn-check:checked ~ .menu-content {
        left: 50vw;/*メニューを画面内へ*/
        letter-spacing: 0.5vw;
    }
    
    #menu-btn-check {
        display: none;
    }

    /*決済ボタン*/
    button {
        background: var(--blue01-color);
        color: #ffffff;
        border-radius: 0.5vw;
        border: 0;
        padding: 2.5vw;
        font-size: 2.5vw;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 0.25vw 0.5vw 0px rgba(0, 0, 0, 0.07);
        width: 30vw;
    }

    form {
        width: 30vw;
        align-self: center;
        box-shadow: 0px 0px 0px 0.25vw rgba(50, 50, 93, 0.1),
          0px 0.125vw 0.25vw 0px rgba(50, 50, 93, 0.1), 0px 0.25vw 0.25vw 0px rgba(0, 0, 0, 0.07);
        border-radius: 0.5vw;
    }
}
  
/*タブレット対応*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .tatenaga {
        display: none;
    }

    .pcnaga {
        display: none;
    }
    
    .toplogo {
        width: 20vw;
        margin: 2.5vw 0;
    }  
    
    .toplogo {
        width: 15vw;
        margin: 2.5vw 0;
        z-index: 0;
    }   
    
    p {
        font-size: 2.25vw;
    }
    
    h2 {
        font-size: 3.5vw;
        text-align: center;
        margin: 2.5vw 0;
    }
    
    h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }
    
    .topnews {
        margin: 0 20px;
        padding: 0 2.5vw;
    }   
    
    h3 {
        font-size: 12px;
        font-weight: 400;
    }
    
    .archives_flyer {
        border-bottom: 0.5vw dotted var(--blue01-color);
        text-align: center;
        margin: 20px;
        padding-bottom: 20px;
    }

    .flyer {
        width: 60vw;
    }
    
    a {
        color: var(--blue01-color);
        text-decoration: none;
    }

    .squarephoto {
        width: 60vw;
        margin: 2.5vw;
    }
    
    .square2 {
        text-align: center;
    }
    
    /*メニュー*/

    .menu-btn {
        position: fixed;
        top: 2.5vw;
        right: 2.5vw;
        display: flex;
        height: 7.5vw;
        width: 7.5vw;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: var(--blue01-color);
        filter: blur(0.1vw);
    }
    
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content:" ";
        display: block;
        height: 0.4vw;
        width: 3.5vw;
        background-color: #ffffff;
        position: absolute;
        transition: all 0.5s;
    }
    
    .menu-btn span:before {
        bottom: 1.5vw;
    }
    
    .menu-btn span:after {
        top: 1.5vw;
    }
    
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    /*中身自体*/
    .menu-content {
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 80;
        background-color: var(--blue01-color);
        transition: all 1s;
    }
    
    .menu-content ul {
        height: 80%;
        overflow: auto;
        padding: 10vw 20px 0;
    }
    .menu-content ul li {
        border-bottom: solid 0.125vw #fff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        font-size: 2.5vw;
        box-sizing: border-box;
        color:#fff;
        text-decoration: none;
        padding: 1vw;
        letter-spacing: 0.5vw;
        margin: 0 10vw;
        text-align: center;
    }
    
    #menu-btn-check:checked ~ .menu-content {
        left: 55vw;/*メニューを画面内へ*/
        letter-spacing: 0.5vw;
    }
    
    #menu-btn-check {
        display: none;
    }

    /*決済ボタン*/
    button {
        background: var(--blue01-color);
        color: #ffffff;
        border-radius: 0.5vw;
        border: 0;
        padding: 2.5vw;
        font-size: 2.5vw;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 0.25vw 0.5vw 0px rgba(0, 0, 0, 0.07);
        width: 30vw;
    }

    form {
        width: 30vw;
        align-self: center;
        box-shadow: 0px 0px 0px 0.25vw rgba(50, 50, 93, 0.1),
          0px 0.125vw 0.25vw 0px rgba(50, 50, 93, 0.1), 0px 0.25vw 0.25vw 0px rgba(0, 0, 0, 0.07);
        border-radius: 0.5vw;
    }
}

/*pc対応 プラスα*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .tatenaga {
        display: none;
    }

    .yokonaga {
        display: none;
    }
    
    .headlogo {
        text-align: center;
        z-index: 1;
    }

    .toplogo {
        width: 15vw;
        margin: 20px 5.5vw 20px 4.5vw;
    }

    .ushiotop {
        height: 100vh;
        margin: 0;
        padding: 0;
        left: 25vw;
        position: fixed;
        z-index: -1;
    }

    p {
        font-size: 1.25vw;
    }
    
    h2 {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
    
    h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        padding: 2.5vw 0;
    }

    .pckiji {
        width: 70vw;
        margin: 0 0 0 30vw;
        padding: 0 0 2.5vw;
        background-color: rgba(255, 255, 255, 0.85);
    }
    
    .archives_flyer {
        border-bottom: 0.25vw dotted var(--blue01-color);
        text-align: center;
        padding: 2.5vw 0 20px;
        margin: 0 20px;
    }

    .flyer {
        width: 40vw;
    }
    
    a {
        color: var(--blue01-color);
        text-decoration: none;
    }

    .squarephoto {
        width: 60vw;
        margin: 2.5vw;
    }
    
    .square2 {
        text-align: center;
    }
    
    /*メニュー*/
    
    /*中身自体*/
    .menu-content {
        height: 100%;
        width: 30vw;
        position: fixed;
        top: 0;
        z-index: 0;
        text-align: center;
        background-color: #fff;
    }
    
    .menu-content ul {
        margin: 0;
        padding: 2.5vw;
        text-align: center;
    }
    .menu-content ul li {
        border-bottom: solid 0.125vw #444;
        list-style: none;
        text-align: center;
    }
    .menu-content ul li a {
        display: block;
        font-size: 8px;
        box-sizing: border-box;
        text-decoration: none;
        padding: 1.5vw;
        letter-spacing: 0.5vw;
        text-align: center;
        color: #444;
    }    

    #menu-btn-check {
        display: none;
    }

    /*決済ボタン*/
    button {
        background: var(--blue01-color);
        color: #ffffff;
        border-radius: 0.5vw;
        border: 0;
        padding: 2.5vw;
        font-size: 2.5vw;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 0.25vw 0.5vw 0px rgba(0, 0, 0, 0.07);
        width: 30vw;
    }

    form {
        width: 30vw;
        align-self: center;
        box-shadow: 0px 0px 0px 0.25vw rgba(50, 50, 93, 0.1),
          0px 0.125vw 0.25vw 0px rgba(50, 50, 93, 0.1), 0px 0.25vw 0.25vw 0px rgba(0, 0, 0, 0.07);
        border-radius: 0.5vw;
    }
}

/*pc対応 プラスα*/
@media only screen and (min-width: 1024px) and (max-width: 1599px){
    .tatenaga {
        display: none;
    }

    .yokonaga {
        display: none;
    }

    .headlogo {
        text-align: center;
        z-index: 1;
    }

    .toplogo {
        width: 15vw;
        margin: 2.5vw 5.5vw 2.5vw 4.5vw;
    }
    
    .ushiotop {
        height: 100vh;
        margin: 0;
        padding: 0;
        left: 25vw;
        position: fixed;
        z-index: -1;
    }

    p {
        font-size: 1.25vw;
    }
    
    h2 {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
    
    h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        padding: 2.5vw 0;
    }

    .pckiji {
        width: 70vw;
        margin: 0 0 0 30vw;
        padding: 0 0 20px;
        background-color: rgba(255, 255, 255, 0.85);
    }
    
    .archives_flyer {
        border-bottom: 0.25vw dotted var(--blue01-color);
        text-align: center;
        padding: 2.5vw 0 20px;
        margin: 0 20px;
    }

    .flyer {
        width: 40vw;
    }
    
    a {
        color: var(--blue01-color);
        text-decoration: none;
    }

    .squarephoto {
        width: 60vw;
        margin: 2.5vw;
    }
    
    .square2 {
        text-align: center;
    }
    
    /*メニュー*/
    
    /*中身自体*/
    .menu-content {
        height: 100%;
        width: 30vw;
        position: fixed;
        top: 0;
        z-index: 0;
        text-align: center;
        background-color: #fff;
    }
    
    .menu-content ul {
        margin: 0;
        padding: 2.5vw;
        text-align: center;
    }
    .menu-content ul li {
        border-bottom: solid 0.125vw #444;
        list-style: none;
        text-align: center;
    }
    .menu-content ul li a {
        display: block;
        font-size: 8px;
        box-sizing: border-box;
        text-decoration: none;
        padding: 1.5vw;
        letter-spacing: 0.5vw;
        text-align: center;
        color: #444;
    }    

    #menu-btn-check {
        display: none;
    }

    /*決済ボタン*/
    button {
        background: var(--blue01-color);
        color: #ffffff;
        border-radius: 0.5vw;
        border: 0;
        padding: 1.5vw;
        font-size: 2.25vw;
        font-weight: 400;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 0.25vw 0.5vw 0px rgba(0, 0, 0, 0.07);
        width: 20vw;
    }

    form {
        width: 20vw;
        align-self: center;
        box-shadow: 0px 0px 0px 0.25vw rgba(50, 50, 93, 0.1),
          0px 0.125vw 0.25vw 0px rgba(50, 50, 93, 0.1), 0px 0.25vw 0.25vw 0px rgba(0, 0, 0, 0.07);
        border-radius: 0.5vw;
    }
}

/*pc対応 プラスα*/
@media only screen and (min-width: 1599px){
    .tatenaga {
        display: none;
    }

    .yokonaga {
        display: none;
    }
    
    .headlogo {
        text-align: center;
        z-index: 1;
    }

    .toplogo {
        width: 10vw;
        margin: 2.5vw;
    } 
    
    .ushiotop {
        width: 75vw;
        margin: 0;
        padding: 0;
        left: 25vw;
        position: fixed;
        z-index: -1;
    }

    p {
        font-size: 1.25vw;
    }
    
    h2 {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
    
    h1 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        padding: 2.5vw 0;
    }

    .pckiji {
        width: 70vw;
        margin: 0 0 0 30vw;
        padding: 0 0 20px;
        background-color: rgba(255, 255, 255, 0.85);
    }
    
    .archives_flyer {
        border-bottom: 0.25vw dotted var(--blue01-color);
        text-align: center;
        padding: 2.5vw 0 2.5vw;
        margin: 0 20px;
    }

    .flyer {
        width: 40vw;
    }
    
    a {
        color: var(--blue01-color);
        text-decoration: none;
    }

    .squarephoto {
        width: 60vw;
        margin: 2.5vw;
    }
    
    .square2 {
        text-align: center;
    }
    
    /*メニュー*/
    
    /*中身自体*/
    .menu-content {
        height: 100%;
        width: 30vw;
        position: fixed;
        top: 0;
        z-index: 0;
        text-align: center;
        background-color: #fff;
    }
    
    .menu-content ul {
        margin: 0;
        padding: 2.5vw 20px;
        text-align: center;
    }
    .menu-content ul li {
        border-bottom: solid 0.125vw #444;
        list-style: none;
        text-align: center;
    }
    .menu-content ul li a {
        display: block;
        font-size: 1.75vw;
        box-sizing: border-box;
        text-decoration: none;
        padding: 1vw;
        letter-spacing: 0.5vw;
        text-align: center;
        color: #444;
    }    

    #menu-btn-check {
        display: none;
    }

    /*決済ボタン*/
    button {
        background: var(--blue01-color);
        color: #ffffff;
        border-radius: 0.5vw;
        border: 0;
        padding: 1.25vw;
        font-size: 8px;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 0.25vw 0.5vw 0px rgba(0, 0, 0, 0.07);
        width: 20vw;
    }

    form {
        width: 20vw;
        align-self: center;
        box-shadow: 0px 0px 0px 0.25vw rgba(50, 50, 93, 0.1),
          0px 0.125vw 0.25vw 0px rgba(50, 50, 93, 0.1), 0px 0.25vw 0.25vw 0px rgba(0, 0, 0, 0.07);
        border-radius: 0.5vw;
    }
}

.attention {
    color: #e60000ad;
}

.centertext {
    text-align: center;
}

.checkout {
    text-align: center;
}
  
.hidden {
display: none;
}

#payment-message {
color: rgb(105, 115, 134);
font-size: 16px;
line-height: 20px;
padding-top: 12px;
text-align: center;
}

#payment-element {
margin-bottom: 24px;
}

/* Buttons and links */

button:hover {
filter: contrast(115%);
}
button:disabled {
opacity: 0.5;
cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
border-radius: 50%;
}
.spinner {
color: #ffffff;
font-size: 22px;
text-indent: -99999px;
margin: 0px auto;
position: relative;
width: 20px;
height: 20px;
box-shadow: inset 0 0 0 2px;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
}
.spinner:before,
.spinner:after {
position: absolute;
content: "";
}
.spinner:before {
width: 10.4px;
height: 20.4px;
background: #5469d4;
border-radius: 20.4px 0 0 20.4px;
top: -0.2px;
left: -0.2px;
-webkit-transform-origin: 10.4px 10.2px;
transform-origin: 10.4px 10.2px;
-webkit-animation: loading 2s infinite ease 1.5s;
animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
width: 10.4px;
height: 10.2px;
background: #5469d4;
border-radius: 0 10.2px 10.2px 0;
top: -0.1px;
left: 10.2px;
-webkit-transform-origin: 0px 10.2px;
transform-origin: 0px 10.2px;
-webkit-animation: loading 2s infinite ease;
animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes loading {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}